.skyline {
  background-image: url(../assets/skyline-balotta.svg);
  height: 150px;
}

.overSkyline {
  background-color: var(--balotta);
}

.underSkyline {
  background-color: var(--secondary-balotta);
}
